
body { 
  font-family: Verdana, Geneva, sans-serif;
	background: #FFFFFF;
}

img { 
  border: none;
	text-align: center;
}

#top {
	background: #B7CEE8;
}

#pmclogo {
  align: left;
  vertical-align: top;
}

#banner {
	text-align: center;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 145px;
	margin-left: 60px;
}

#pmc {
  margins: 0;
  font-size: 10pt;
  background-color: #6B9BCB;
}

#pmc h1 {
  font-size: 10pt;
  text-align: center;
  border-bottom: solid 4px #336699;
  margins: 0;
  padding: 0px 0px;
	direction: rtl;
	background: #B7CFE8 no-repeat;
	width: 100%;
	margin-top: 0px;
	font-weight: bold;
	color: #336699;
	border-color: #336699;
	border-top-width: 4px;
	border-top-color: #336699;
}

#crumbs {
  font-size: 10pt;
  text-align: left;
  border-bottom: solid 4px #336699;
  margins: 0;
  padding: 2px;
	direction: rtl;
	background: #B7CFE8 no-repeat;
	font-weight: bold;
	color: #336699;
	border-color: #336699;
	text-transform: none;
	border-top-color: #336699;
	border-top-width: 4px;
}

li form input {
	margin: 3px;
}