[NCBI]
MEDIA=ENTREZ_SEQ_HD, ENTREZ_REF_HD
DATA=../data
ROOT=/harddisk/seqdata

[ENTREZ_REF_HD]
TYPE=HARDDISK
ROOT=/harddisk/refdata
FORMAL_NAME=Entrez: References CD-ROM (Hard-disk Image)

[ENTREZ_SEQ_HD]
TYPE=HARDDISK
ROOT=/harddisk/seqdata
FORMAL_NAME=Entrez: Sequences CD-ROM (Hard-disk Image)

[ENTREZ]
SERVICES=ENTR_LINK, ENTR_REF, ENTR_SEQ


[ENTR_REF]
CHANNELS=ENTREZ_REF_HD_DESC

[ENTR_SEQ]
CHANNELS=SEQUENCE_HD_DESC

[ENTR_LINK]
CHANNELS=LINKS_FROM_REFERENCES, LINKS_FROM_SEQUENCE


[SEQUENCE_HD_DESC]
MEDIA=ENTREZ_SEQ_HD

[LINKS_FROM_SEQUENCE]
MEDIA=ENTREZ_SEQ_HD
INFO=1
ENTR_SEQ__ENTR_SEQ=1
ENTR_SEQ__ENTR_REF=1
ENTR_REF__ENTR_SEQ=1

[LINKS_FROM_REFERENCES]
MEDIA=ENTREZ_REF_HD
ENTR_REF__ENTR_REF=1
ENTR_REF__ENTR_SEQ=2
INFO=1

[ENTREZ_REF_HD_DESC]
MEDIA=ENTREZ_REF_HD
RECORDS=2,NO_DRASTIC_ACTION
TERMS=1
