<map name="GraffleExport">
	<area shape=rect coords="10,488,107,551" href="WhatsNew.html">
	<area shape=rect coords="209,500,312,563" href="EditSearchWithSchedule.html">
	<area shape=rect coords="452,495,555,558" href="EditSearch.html">
	<area shape=rect coords="401,360,504,423" href="SaveSearchWithSchedule.html">
	<area shape=rect coords="124,398,221,461" href="MySearches.html">
	<area shape=rect coords="401,188,504,251" href="SaveSearch.html">
	<area shape=rect coords="63,77,160,140" href="PubMed.html">
	<area shape=rect coords="46,625,143,688" href="PubMed.html">
</map>
<image src="Blueprint.jpg" usemap="#GraffleExport">
</image>
