<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>What's New</title>
<link rel="stylesheet" href="cubby.css" type="text/css" media="all" />

<body>

<form method="post" action="saveSearch">

  <div id="formdiv" class="mainview">

  <div id="myformheader">
    <div id="mycolheaders">

      <div id="mytitle">
        <span class="selectall">
          <input type="checkbox" name="selectall" title="Select/Deselect all"/>
        </span>
        <span class="titlepos">
         What's New
        </span>
      </div>
    </div>
  </div>

  <div class="searchtable">
    <table cellspacing="0">

      <tr class="oddrow">
        <td class="buttons-whatsnew">
          <input type="checkbox" name="select" value="1" title="Select this search"/>
        </td>
        <td class="database">
        PubMed
        </td>
        <td class="query">
          <span title="PubMed: mouse[ALL FIELDS] AND adenylate cyclase">mouse AND adenylate cyclase</span>
          <input type="image" name="editsearch" value="1" src="mail.gif" title="Updates sent every Monday. Click to change or disable schedule."/>
        </td>
        <td><a href="PLACEHOLDER">23 new items</a></td>
        <td>since Apr 27, 2004 12:20:52 EDT</td>
      </tr>

      <tr class="evenrow">
        <td class="buttons-whatsnew">
          <input type="checkbox" name="selectsearch" value="2" title="Select this search"/>
        </td>
        <td class="database">
        PubMed
        </td>
        <td class="query">
          <span title="PubMed: SARS[All Fields] AND complete[All Fields] AND (&quot;genome&quot;[MeSH Terms] OR genome[Text Word])">SARS complete genome</span>
        </td>
        <td>          <a href="PLACEHOLDER">12 new items</a></a>
        <td>since Apr 14, 2004 14:00:34 EDT</td>
      </tr>

      <tr class="oddrow">
        <td class="buttons-whatsnew">
        </td>
        <td class="database">
        OMIM
        </td>
        <td class="query">
          <span title="(&quot;tonsillectomy&quot;[MeSH Terms] OR tonsillectomy[Text Word]) AND (&quot;obesity&quot;[MeSH Terms] OR obesity[Text Word])">tonsillectomy AND obesity</span>
          <input type="image" value="editsearch" src="mail.gif" title="Updates sent daily. Click to change or disable schedule"/>
        </td>
        <td>No new items</td>
        <td>since Apr 14, 2004 14:23:35 EDT</td>
      </tr>
    </table>
    </div>

    <div id="formbuttondiv">

      <input type="button" class="button" value="Show Selected" alt="Show Selected" title="Click to show updates to selected searches"/>
      <input type="button" class="button" value="Done" alt="Done" title="Click to return to previous view"/>
    </div> <!-- End formbuttons -->
  </div> <!-- End formdiv -->

</form>

</body>
</html>
