<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>What's New</title>
<link rel="stylesheet" href="cubby.css" type="text/css" media="all" />

<body>

  <div id="whats_new_summary">
    <form method="post" action="saveSearch">
    
      <div id="formdiv" class="mainview">
    
        <div id="myformheader">
          <div id="mycolheaders">
      
            <div id="mytitle">
              <span class="titlepos">
                What's New
              </span>
            </div>
          </div>
        </div>
    
        <div class="searchtable">
          <table cellspacing="0">
      
            <tr class="database">
              <td colspan="3">PubMed</td>
            </tr>
      
            <tr class="oddrow">
              <td class="query">
                <span class="querytext" title="PubMed: mouse[ALL FIELDS] AND adenylate cyclase">
                mouse AND adenylate cyclase</span>
              </td>
              <td class="age">3 days ago</td>
              <td class="schedule">
                <a href="Canvas%203.html"
                   title="Click to view new updates.">12</a>
              </td>
            </tr>
      
            <tr class="evenrow">
              <td class="query">
                <span class="querytext" title="PubMed: SARS[All Fields] AND complete[All Fields] AND (&quot;genome&quot;[MeSH Terms] OR genome[Text Word])">
                SARS complete genome</span>
              </td>
              <td class="age">32 days ago</td>
              <td class="schedule">
                <a href="Canvas%203.html"
                   title="Click to view new updates.">3</a>
              </td>
            </tr>
      
            <tr class="database">
              <td colspan="3">OMIM</td>
            </tr>
      
            <tr class="oddrow">
              <td class="query">
                <span class="querytext" title="OMIM: (&quot;tonsillectomy&quot;[MeSH Terms] OR tonsillectomy[Text Word]) AND (&quot;obesity&quot;[MeSH Terms] OR obesity[Text Word])">
                tonsillectomy AND obesity</span>
              </td>
              <td class="age">3 days ago</td>
              <td class="schedule">
              <span title="No new data since last read.">0</a>
              </td>
              </td>
            </tr>
          </table>
          </div>
      
          <div id="formbuttondiv">
            <input type="button" class="button" value="Done" alt="Done" src="done.gif" title="Click to return to previous view"/>
          </div> <!-- End formbuttons -->
      </div> <!-- End formdiv -->
    </form>
  </div>
</body>
</html>
