    div.c21 {text-align: center}
    span.c20 {font-style: italic; color: rgb(51, 51, 255);}
    i.c19 {color: rgb(51, 51, 255);}
    li.c18 {margin-bottom: 12px;}
    li.c17 {list-style: none}
    span.c16 {font-family: monospace;}
    span.c15 {font-style: italic;}
    hr.c14 {width: 100%; height: 2px;}
    table.c13 {width: 70%;}
    td.c12 {background-color: rgb(221, 221, 221); font-family: monospace;}
    td.c11 {vertical-align: middle; font-weight: bold; background-color: rgb(153, 153, 153);}
    td.c10 {vertical-align: top; background-color: rgb(221, 221, 221);}
    td.c9 {vertical-align: top; font-style: italic; background-color: rgb(221, 221, 221);}
    td.c8 {vertical-align: top; background-color: rgb(221, 221, 221); font-family: monospace;}
    td.c7 {width: 20%; font-weight: bold; background-color: rgb(153, 153, 153);}
    div.c6 {text-align: left;}
    img.c5 {border: 0px solid ; width: 125px; height: 1px;}
    table.c4 {width: 600px;}
    td.c3 {width: 360px; vertical-align: middle;}
    div.c2 {text-align: center;}
    span.c1 {font-weight: bold;}
.codefont { background-color: rgb(221,221,221); }