  div.c9 {text-align: center}
  hr.c8 {width: 100%; height: 2px;}
  div.c7 {text-align: left;}
  td.c6 {vertical-align: top;}
  td.c5 {text-align: left; vertical-align: top; background-color: rgb(221, 221, 221);}
  td.c4 {text-align: left; vertical-align: top; width: 15%; color: rgb(255, 255, 255); font-weight: bold;}
  table.c3 {width: 600px;}
  td.c2 {width: 360px; vertical-align: middle;}
  span.c1 {font-weight: bold;}
