  div.c12 {text-align: center}
  hr.c11 {width: 100%; height: 2px;}
  div.c10 {text-align: left;}
  span.c9 {font-family: monospace;}
  span.c8 {text-decoration: underline;}
  li.c7 {margin-bottom: 12px;}
  h4.c6 {background-color: rgb(204, 204, 204);}
  td.c5 {vertical-align: top;}
  table.c4 {width: 600px;}
  td.c3 {width: 360px; vertical-align: middle;}
  div.c2 {text-align: center;}
  span.c1 {font-weight: bold;}
