<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.9.4</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>http://apache.mesi.com.ar/subversion/subversion-1.9.4.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>bc7d51fdda43bea01e1272dfe9d23d0a9d6cd11c</string>
	<key>OpenSourceImportDate</key>
	<string>2016-05-11</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
