<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.7.22</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>http://archive.apache.org/dist/subversion/subversion-1.7.22.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>6b883a0e970262f6485fc20fef68a2afcffe0875</string>
	<key>OpenSourceImportDate</key>
	<string>2016-01-08</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
