<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.7.10</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>http://archive.apache.org/dist/subversion/subversion-1.7.10.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>a4f3de0a13b034b0eab4d35512c6c91a4abcf4f5</string>
	<key>OpenSourceImportDate</key>
	<string>2013-06-18</string>
	<key>OpenSourceLicense</key>
	<string>apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
