<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Perf Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>format-tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>lldb-perf-clang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>lldb-perf-formatters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>lldb-perf-sketch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>lldb-perf-step.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>lldbperf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>stepping-testcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26DBAD5816FA63B1008243D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1E373816F4035D00FF10BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1E376C16F4087A00FF10BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1E37B916F79E9D00FF10BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1E37E316F7A0A500FF10BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C86C5D016F7CC8900844407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE3705316FB6FA100BFD501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE3707B16FB70AD00BFD501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
