<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-06-08</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceProject</key>
		<string>git</string>
		<key>OpenSourceSHA1</key>
		<string>076eca037a993de2c1bcf093fee5a1ad56af71fa</string>
		<key>OpenSourceURL</key>
		<string>http://kernel.org/pub/software/scm/git/git-1.7.5.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.7.5.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://git-scm.com</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-06-08</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceProject</key>
		<string>git-htmldocs</string>
		<key>OpenSourceSHA1</key>
		<string>1f4c9906b77fd4151c320e44b351e06fd9e7eca5</string>
		<key>OpenSourceURL</key>
		<string>http://kernel.org/pub/software/scm/git/git-htmldocs-1.7.5.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.7.5.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://git-scm.com</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-06-08</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceProject</key>
		<string>git-manpages</string>
		<key>OpenSourceSHA1</key>
		<string>f7ca383d94152777eca28fdffce38d88a51b90cf</string>
		<key>OpenSourceURL</key>
		<string>http://kernel.org/pub/software/scm/git/git-manpages-1.7.5.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.7.5.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://git-scm.com</string>
	</dict>
</array>
</plist>
